@import url('https://fonts.cdnfonts.com/css/circular-std');

.container{
    position: relative;
    width: 190px;
    height: 270px;
    margin: 15px;
    display: inline-flex;    
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;    

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background-color: #181818;
    border-radius: 4px;
}


.cardPersonaje{
    background-color: #181818;
    padding: 20px;
    margin: 50px;
    display: flex;
    font-size: large;
    width: 800px;
    border-radius: 10px;
}

.cardPersonaje div{
    padding: 20px;
}

.cardUbicacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;    

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background-color: #181818;
    border-radius: 4px;

    width: 600px;
    height: 300px;

    margin: 60px;
    font-size: large;
    font-style: oblique;
    border-radius: 10px;
}


.card img{
    width: 158px;
    height: 158px;

    background: url(.jpg), #333333;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
    border-radius: 0px;    

    flex: none;
    order: 0;
    flex-grow: 0;
}


.card p{
    width: 158px;
    height: 32px;

    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;  

    color: #B3B3B3;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
